In [21]:
import pandas as pd

In [22]:
df=pd.read_csv('personality_datasert.csv')

In [23]:
df

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,4.0,No,4.0,6.0,No,13.0,5.0,Extrovert
1,9.0,Yes,0.0,0.0,Yes,0.0,3.0,Introvert
2,9.0,Yes,1.0,2.0,Yes,5.0,2.0,Introvert
3,0.0,No,6.0,7.0,No,14.0,8.0,Extrovert
4,3.0,No,9.0,4.0,No,8.0,5.0,Extrovert
...,...,...,...,...,...,...,...,...
2895,3.0,No,7.0,6.0,No,6.0,6.0,Extrovert
2896,3.0,No,8.0,3.0,No,14.0,9.0,Extrovert
2897,4.0,Yes,1.0,1.0,Yes,4.0,0.0,Introvert
2898,11.0,Yes,1.0,3.0,Yes,2.0,0.0,Introvert
2899,3.0,No,6.0,6.0,No,6.0,9.0,Extrovert

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2900 entries, 0 to 2899
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Time_spent_Alone           2900 non-null   float64
 1   Stage_fear                 2900 non-null   object
 2   Social_event_attendance    2900 non-null   float64
 3   Going_outside              2900 non-null   float64
 4   Drained_after_socializing  2900 non-null   object
 5   Friends_circle_size        2900 non-null   float64
 6   Post_frequency             2900 non-null   float64
 7   Personality                2900 non-null   object
dtypes: float64(5), object(3)
memory usage: 181.4+ KB

In [25]:
df.isna().sum()

Time_spent_Alone             0
Stage_fear                   0
Social_event_attendance      0
Going_outside                0
Drained_after_socializing    0
Friends_circle_size          0
Post_frequency               0
Personality                  0
dtype: int64

In [26]:
df['Time_spent_Alone'].value_counts()

Time_spent_Alone
0.000000     369
2.000000     357
3.000000     353
1.000000     326
9.000000     206
10.000000    196
4.000000     190
7.000000     190
5.000000     180
8.000000     180
6.000000     150
11.000000    140
4.505816      63
Name: count, dtype: int64

In [27]:
df['Going_outside'].value_counts()

Going_outside
0.0    498
2.0    456
1.0    429
5.0    374
4.0    359
6.0    335
3.0    275
7.0    174
Name: count, dtype: int64

In [28]:
from sqlalchemy import create_engine

In [29]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\hassa\appdata\local\programs\python\python313\lib\site-packages (2.0.41)
Requirement already satisfied: greenlet>=1 in c:\users\hassa\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\hassa\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (4.13.2)
Note: you may need to restart the kernel to use updated packages.

In [30]:
from sqlalchemy import create_engine

In [31]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\hassa\appdata\local\programs\python\python313\lib\site-packages (5.2.0)
Note: you may need to restart the kernel to use updated packages.

In [32]:
import pyodbc
print(pyodbc.drivers())

['SQL Server', 'Microsoft Access Driver (*.mdb, *.accdb)', 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)', 'Microsoft Access Text Driver (*.txt, *.csv)', 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)', 'SQL Server Native Client RDA 11.0', 'ODBC Driver 17 for SQL Server']

In [33]:
#ODBC Driver 17 for SQL Server

In [36]:
def pipline(CSV,server,database,table_name):
    df=pd.read_csv(CSV)
    if 'Time_spent_Alone' in df.columns: 
      df=df.rename(columns={'Time_spent_Alone':'hours_daily_Alone'})
      df['hours_daily_Alone']=df['hours_daily_Alone'].replace(0.0,0)
    connection = f"mssql+pyodbc://{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes"
    
    df.to_sql(name=table_name, con=connection,if_exists='replace',index=True)
    print('done')

In [37]:
pipline(
    CSV=('personality_datasert.csv'),
    server='HASSN\SQLEXPRESS',
    database='for_data_analsis',
    table_name='personality'
    
    
)

<>:3: SyntaxWarning: invalid escape sequence '\S'
<>:3: SyntaxWarning: invalid escape sequence '\S'
C:\Users\hassa\AppData\Local\Temp\ipykernel_16764\1002226156.py:3: SyntaxWarning: invalid escape sequence '\S'
  server='HASSN\SQLEXPRESS',

done